.progress{
    display: block;
    float: left;
    padding: 10px 20px 0 0;
    text-align: center;
}

.mat-buttonDone{
    background-color: #C9CFD3;
    width: 15px;
    height: 15px;
}

.mat-buttonNotDone{
    background-color:#0D7BAB;
    width: 15px;
    height: 15px;
}