<div class="root-question">
  <div style="padding-top: 2%; padding-bottom: 2%;">
    <span class="question-number">Q:{{questionInfo.questionNumber}} </span>
    <span class="question">{{questionInfo.question}}</span>
   </div>

  <div class="options">
    <div *ngFor ="let option of questionInfo.options">
        <button 
          class="option" 
          (click)="answerSelected(option)"
          [ngClass]="isSelected(option) ? 'option-clicked' : 'myBtnClass'">

          <div>
            <img *ngIf = "checkCorrectness(option)" 
            [src] ="myImgUrl">
                {{option}}
          </div>

        </button>
    </div>
  </div>
</div>
