<!--The content below is only a placeholder and can be replaced.-->
<div class="screen">
  <header style="text-align:center" id="container">
    <img src="assets/images/Cover.png" class="rotate180" id="backImg">
    <img src="assets/images/ZoomInfo.png" id="frontImg">
  </header>


  <div class="body" id="container">
    <app-question [questionInfo]="currentQuestion"></app-question>

    <div style="padding-top: 2%; padding-bottom: 2%;" class="mydiv" id="container">
      <button [class]="getCurrentStateSelection() ? 'button' : 'continue'" 
        (click)="questionAnswered()" 
        [disabled]="getCurrentStateSelection()">
        {{buttonText}}
      </button>
    </div>

    <div class="mydiv" id="container">
      <app-progress [progressInfo]="progress"></app-progress>
    </div>
  </div>

  <footer class="footer" id="container">
    <img src="assets/images/Cover.png" id="backImg">
  </footer>
</div>

<router-outlet></router-outlet>